*.mp4 filter=lfs diff=lfs merge=lfs -text
website/data/eagent.mp4 filter=lfs diff=lfs merge=lfs -text
/Users/bryan/Desktop/wkdir/embodied-agent-eval.github.io/website/data/eagent.mp4 filter=lfs diff=lfs merge=lfs -text
